body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  .jumbotron {
    text-align: right;
    background-color: #00a1c9;
    color: #005063;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  .display-3{
    font-size: 34px;
  }

  .search{
    text-align: left;
    margin-bottom: 100px;
  }

  .weather{
    text-align: right;
    margin-bottom: 150px;
  }

  .forecast{
    text-align: right;
    margin-top: 50px;
    margin-bottom: 150px ;
  }